* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
}
.box{
    width: 100px;
    height: 100px;
    border: solid 1px black;
    border-radius: 5px;
    background-color: aqua;
    color: black;
    font-size: 75px;
    gap: 100px;
}
.TTTcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.button-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    background-color: tomato;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}